.homeLayout .titlePages, 
.queuePage>h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}

.homeLayout .renderPages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    padding: 20px;
}

/* Song box  */
.songsBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 12px 15px 25px 15px;
    border-radius: 8px;
    background-color: transparent;
    background-image: linear-gradient(#181818, #222);
    flex: 0;
    transition: background-color .3s ease;
    cursor: pointer;
}
.songsBox:hover{
    background-image: linear-gradient(#333, #353535);
}
.songsBox .songsThumb {
    width: 100%;
    flex-shrink: 1;
    border-radius: inherit;
}
.songsBox .detailSong {
    display: flex;
    flex-direction: column;
}
.songsBox .detailSong .songsTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* type line  */
.activeSong .songsBox.typeLine{
    background-color: #222;
}
.songsBox.typeLine{
    display: grid;
    grid-template-columns: 20px 60px 3fr 6fr 4fr 2fr;
    text-align: center;
    line-height: 40px;
    border-radius: 0;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    background-color: #111;
    background-image: none;
}
.songsBox.typeLine:hover{
    background-color: #222;
}
.songsBox.typeLine img{
    width: 40px;
    height: 40px;
}
.songsBox.typeLine .songsTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* song box */

/* -------------------------------------------------------------------- */

/* detail song page  */
.headerSongPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: end;
    padding: 30px;
    cursor: default;
    border-bottom: 1px solid #222;
}
.thumbSong{
    flex-shrink: 0;
    width: 250px;
    height: 250px;
}
.thumbSong:hover img{
    scale: 1.05;
}
.thumbSong img{
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: scale .3s ease-in-out;
}

.detailSong .titleSong{
    font-size: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 10px;
    margin: 20px 0;
}
.artistDuration{
    font-size: 18px;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.bodySongPage{
    padding: 30px;
}

.detailPageOption{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.addPlaylist, 
.startSong{
    border-radius: 50%;
    padding: 2px 0 0 2px;
    margin: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ED760;
    transition: all .3s ease;
}
.addPlaylist:hover, 
.startSong:hover{
    box-shadow: 1px 0px 8px #51996a;
    scale: 1.1;
}
.addPlaylist i,
.startSong i
{
    font-size: 23px;
}
/* detail song page */

/* ------------------------------------------------------------------------------ */

/* queue page */
.groupSongsLine{
    padding: 20px;
}
.groupSongsLine>h3{
    margin-bottom: 20px;
}
/* queue page */


/* search page */
.searchPage{
    border-bottom: 1px solid #333;
    padding: 0 0 20px 50px;
}
.searchBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 400px;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
.searchBox input{
    padding: 15px 0;
    background-color: inherit;
    width: 100%;
    outline: none;
    border: none;
    color: inherit;
    font-size: inherit;
}
       

/* search page */


