.homeContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    width: 100%;
    height: calc(100vh - 120px);
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}


/* Nav Bar ---------------------------------------*/
.navBar{    
    /* display: grid;
    grid-template-rows: auto auto auto; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: calc(100vh - 120px);
}
.navBar .infoUser{
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    background-color: #141414;
    border-radius: 8px;
}
.navBar .infoUser img{
    width: 50px;
    height: 50px;
    border-radius: 50pc;
}
.navBar .infoUser i{
    font-size: 18px;
    cursor: pointer;
    transition: all .3s linear;
}
.navBar .infoUser i:hover{
    opacity: 0.6;
}
.navBar .loginSignin{
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
}
.navBar .loginSignin .navBtn{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    width: 80%;
    border-radius: 30px;
    color: #fff;
    transition: all .5s ease;
}
.navBar .loginSignin .navBtn:hover{
    background-color: #fff;
    color: #000;
}
.navBar .navBarOptions{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 8px;
    padding: 20px 35px;
    gap: 10px;
    min-height: max-content;
}
.navBar .navBarOptions a{
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.navBar .navBarLibrary{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    overflow: auto;
}

/* layout page  */
.homeLayout , 
.showSong, 
.queueLayout, 
.searchLayout{
    padding-top: 20px;
    width: 100%;
    border-radius: 8px;
    background-color: #141414;
    overflow-y: scroll;
}





.sectionTitle{
    padding-left: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}