.nav_bar {
    --s_space: 10px;
    --sz_icon_library: 18px;
    --navIcons_sz: 26px;

    display: flex;
    flex-direction: column;
    width: var(--nav_bar_L_width);
    background-color: #141414;
    gap: 5px;
    height: 100%;
}

.nav_bar .nav_bar_line {
    margin: 0 12px;
    display: block;
    height: 1px;
    background-color: #333;
}

.nav_bar .nav_bar_options {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 30px 25px;
    gap: 15px;
    min-height: max-content;
}

.nav_bar .nav_bar_options a {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    width: 100%;
    margin-left: 12px;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: .60px;
}

.nav_bar .nav_bar_options .nav_bar_options_icons {
    width: var(--navIcons_sz);
    height: var(--navIcons_sz);
}

/*---------------------------------------------------- Nav_bar PlayLists -----------------------------------------------------*/
.nav_bar .nav_bar_library {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #121212;
    border-radius: 8px;
    padding: 15px;
    margin-top: 10px;
}

.nav_bar_library .nav_bar_library_title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .26px;
    gap: 15px;
}

.nav_bar_library .nav_bar_library_title svg.nav_bar_options_icons {
    width: var(--sz_icon_library);
    height: var(--sz_icon_library);
}

.nav_bar_library .nav_bar_library_playlists {
    max-height: 310px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 15px;
}

.nav_bar_library .nav_bar_library_playlists a:hover {
    color: #fff;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    padding: 6px 10px;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist img {
    width: 42px;
    aspect-ratio: 1;
    border-radius: 6px;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist .nav_bar_library_playlist_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist .nav_bar_library_playlist_details h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .52px;
    color: #ddd;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist .nav_bar_library_playlist_details p {
    font-size: 13px;
    letter-spacing: .42px;
    color: #888;
}

.nav_bar_library .nav_bar_library_playlists .nav_bar_library_playlist:hover {
    background-color: #222;
}

.nav_bar_library .nav_bar_library_addplaylist {
    width: 80%;
    padding: 12px 0;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 30px;
    color: #fff;
    background-color: #404040;
    transition: all .3s ease;
}

.nav_bar_library .nav_bar_library_addplaylist:hover {
    background-color: #444;
    box-shadow: 2px 1px 8px #404040;
}