.btn {
    cursor: pointer;
    font-size: 20px;
    opacity: 0.6;
    transition: all .2s linear;
}

.btn:hover {
    opacity: 1;
}

.btn_toggle_play {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}

.btn_random.active,
.btn_repeat.active {
    color: #1ED760;
}

.playingBlock {
    grid-column: span 2;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 4fr 2.5fr;
    gap: 20px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    gap: 30px;
    padding: 15px;
}

.infoMusic .boxInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.infoMusic img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}



/* play control */
.btnPlayingControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    align-items: center;
}

/* progress bar */
.timeLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.progress_area {
    margin: 0 5px;
    height: 6px;
    width: 100%;
    background-color: #888;
    border-radius: 50px;
    cursor: pointer;
}

.progress_area .progress_bar {
    --range-progress: 0;
    width: var(--range-progress);
}

.volume_area .volume_bar {
    --range-volume: 100;
    width: var(--range-volume);
}

.progress_area .progress_bar,
.volume_area .volume_bar {
    height: inherit;
    border-radius: inherit;
    background-color: #ddd;
    position: relative;
    transition: width .3s linear;
}

.progress_area .progress_bar::before,
.volume_area .volume_bar::before {
    opacity: 0;
    position: absolute;
    right: -5px;
    top: -50%;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: inherit;
    background-color: #fff;
}

.progress_area:hover .progress_bar,
.volume_area:hover .volume_bar {
    background-color: #1ED760;
}

.progress_area:hover .progress_bar::before,
.volume_area:hover .volume_bar::before {
    opacity: 1;
}

.startTime,
.durationSong {
    min-width: max-content;
}


/* tool area  */
.toolMusic {
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 12px;
}

.toolMusic .btn {
    font-size: 18px;
}

.btn_volume_control {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.volume_area {
    margin-left: 10px;
    height: 6px;
    width: 100px;
    background-color: #888;
    border-radius: 50px;
    cursor: pointer;
}

