#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.underLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  transition: all .2s ease;
}

.tranferPages {
  display: block;
  font-size: 18px;
  background-color: #FFF;
  padding: .5em 1.5em;
  border-radius: 30px;
  color: #000;
}


/* custom scroll bar  */
.haveScroll{
  overflow-y: scroll;
}
.haveScroll::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
  background-color: transparent;
}

.haveScroll::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
}

.haveScroll::-webkit-scrollbar-track:hover {
  background-color: #888;
}

/* custom oneline text  */
.onelineText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* type in center  */
.typeCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}