#root {
  --navbar_L_width: 330px;
  --navbar_M_width: 200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.under_link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: inherit;
  transition: all .2s ease;
}

.tranfer_pages {
  display: block;
  font-size: 18px;
  background-color: #FFF;
  padding: .5em 1.5em;
  border-radius: 30px;
  color: #000;
}


/* custom scroll bar */
.haveScroll::-webkit-scrollbar {
  position: absolute;
  right: 6px;
  width: 6px;
  background-color: transparent;
  z-index: 1;
}

.haveScroll::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
}


/* custom oneline text */
.oneline_text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

/* content in center */
.content_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* make nobody can select object */
.noone_coppy{
  -moz-user-select: none !important;
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}