#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #000;
}

.underLink:hover{
  text-decoration: underline;
  color: inherit;
  transition: all .2s ease;
}

.tranferPages {
  display: block;
  font-size: 18px;
  background-color: #FFF;
  padding: .5em 1.5em;
  border-radius: 30px;
  color: #000;
}


/* custom scroll bar  */
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
    background-color: #888;
}