.home_container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
}

.home_container .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--navbar_width) auto;
}

.home_container .container .bounder_layout {
    position: relative;
    width: 100%;
    background-color: #000;
    overflow-y: scroll;
}

.show_song,
.home_layout,
.queue_layout,
.search_layout {
    margin-top: 80px;
    position: relative;
}

/* ---------------------------------------- User inform ------------------------------------------------------ */
.bounder_layout .header_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10000;
    position: fixed;
    right: 0;
    width: calc(100% - var(--navbar_width));
    height: 80px;
    padding: 14px;
    background-color: #000;
}


.bounder_layout .header_user .info_user {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.bounder_layout .header_user .info_user img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bounder_layout .header_user .info_user .info_user_table {
    width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #282828;
    padding: 5px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.bounder_layout .header_user .info_user .info_user_table ul li:last-child {
    border-top: 1px solid #444;
}

.bounder_layout .header_user .info_user .info_user_table ul li .info_user_table_option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 6px 10px 10px;
    font-size: 14px;
    background-color: transparent;
    color: #eee;
    border-radius: 5px;
    cursor: default;
    transition: all .2s linear;
}

.bounder_layout .header_user .info_user .info_user_table ul li .info_user_table_option:hover {
    background-color: #3e3e3e;
}

.bounder_layout .header_user .info_user .info_user_table ul li .info_user_table_option .info_user_table_icon{
    --sz: 16px;
    width: var(--sz);
    height: var(--sz);
    color: #ddd;
}

.bounder_layout .header_user .login_signin {
    gap: 8px;
    align-items: center;
}

.bounder_layout .header_user .login_signin .login_signin_btn {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 25px;
    border-radius: 30px;
    color: #fff;
    background-color: #000;
    transition: all .5s ease;
}

.bounder_layout .header_user .login_signin .login_btn,
.bounder_layout .header_user .login_signin .signin_btn:hover {
    background-color: #ddd;
    color: #000;
}

.bounder_layout .header_user .login_signin .login_btn:hover {
    background-color: #888;
}